[submodule "Thirdparty/pose-graph-optimizer"]
	path = Thirdparty/pose-graph-optimizer
	url = https://github.com/sfu-rsl/pose-graph-optimizer
[submodule "Thirdparty/g2o/spearhead"]
	path = Thirdparty/g2o/spearhead
	url = https://github.com/sfu-rsl/spearhead.git
